.footer {
  background-color: #111;
  color: #cccc;
  padding: 20px 0;
  font-size: 14px;
  font-family: sans-serif;
  margin-top: 40px;
}

.footer .container {
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-links a {
  margin-left: 20px;
  color: #ccc;
  text-decoration: none;
}

.footer-links a:hover {
  color: #00bfff;
}
